<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QNBDLNA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>761FD4161E821A5900F7D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761FD42F1E821A5900F7D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>761FD43A1E821A5900F7D882</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
